* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover, button:hover {
  opacity: .7;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: white;
}

body .about {
  background: #0580b9;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  height: 400px;
  background-image: url("../images/banner2.jpg");
}

body .about h1 {
  background: #0580b9;
}

body .profile {
  color: #353535;
  padding: 30px;
}

body .profile h2,
body .profile h3,
body .profile p {
  text-align: center;
  margin: 20px 0 !important;
  font-size: 20px;
  word-break: keep-all;
  width: 100%;
}

body .profile h2 {
  margin: 10px 0;
  font-size: 25px;
  font-weight: bold;
}

body .profile h3 {
  font-weight: bold;
  font-size: 25px;
}

body .profile ol {
  padding: 0 30px;
  width: 100%;
}

body .profile ol li {
  text-align: center;
  list-style-position: inside;
}

body .profile .core-values li {
  font-size: 18px;
  font-weight: bold;
}

body .profile .card {
  background-color: #0580b923;
  padding-bottom: 10px;
}

body .profile .card h3 {
  background-color: #0580b9;
  color: white;
  padding: 10px;
}

body .profile .card p {
  padding-left: 10px;
}

body .services {
  background: #0580b9;
  text-align: center;
}

body .services h1 {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2.5px solid #ffffff;
  font-size: 30px;
  padding-bottom: 10px;
  margin-top: 40px;
  color: #ffffff;
}

body .services .cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body .services .service {
  color: #ffffff;
  display: inline-block;
  margin: 0 -2px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: left;
}

body .services .service img {
  width: 120px !important;
  height: 120px !important;
  margin-bottom: 20px;
}

body .services .service .rule {
  width: 100%;
  margin: 0;
}

body .services .service .title {
  width: 20%;
  margin: 0;
  border-color: white;
}

body .services .service p {
  margin: 10px 0;
}

body .section {
  background: #ededed;
  text-align: center;
  padding: 30px 0;
}

body .section h2 {
  padding-top: 20px;
}

body .section p {
  font-size: 20px;
}

body .section button {
  background-color: #0580b9;
  border: 1px solid #0580b9;
  color: white;
  padding: 10px 20px;
  margin: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
}

body .section button:hover {
  border: 1px solid #353535;
  color: #353535;
  background: white;
  font-weight: bold;
}

body .section button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media screen and (max-width: 700px) {
  .content .profile h2,
  .content .profile h3,
  .content .profile p {
    text-align: left;
    font-size: 18px;
  }
  .content .profile ol li {
    text-align: left;
    list-style-position: outside;
  }
  .content .services .cen {
    display: block;
  }
  .content .services .cen .service {
    text-align: center;
  }
  .content .services .cen .service .title {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=about-us.css.map */