* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover, button:hover {
  opacity: .7;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.control {
  font-size: 30px;
  position: absolute;
  color: white;
  top: 50%;
  cursor: pointer;
}

.control--left {
  left: 20px;
}

.control--right {
  right: 20px;
}

.row1 {
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.row1 .carousel1 {
  padding: 0;
  overflow: hidden;
}

.row1 .carousel1_slide {
  width: 100%;
  height: 450px;
  z-index: -1;
  left: 100%;
  position: absolute;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.row1 .carousel1_slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row1 .carousel1 .active {
  left: 0 !important;
}

.row1 .cta {
  background-color: #cecece;
  width: 400px;
  height: 150px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  position: absolute;
  left: 60px;
  top: 160px;
  z-index: 5;
}

.row1 .cta h3 {
  font-size: 1.3rem;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.row1 .cta button {
  background-color: #0580b9;
  border: none;
  padding: 10px;
  width: 80%;
  margin-top: 20px;
  color: #ffffff;
}

.row1 .cta button a {
  color: #ffffff;
}

.row2 {
  position: relative;
  background-color: #0580b913;
}

.row2 .log_details {
  width: 100%;
  margin-top: -100px;
}

.row2 .log_details_container {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 10px #333333;
          box-shadow: 1px 1px 10px #333333;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
}

.row2 .log_details_container h4 {
  font-size: 48px;
  line-height: 72px;
  color: #0580b9;
  margin-bottom: 20px;
}

.row2 .log_details_container p {
  font-size: 16px;
  line-height: 24px;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .7s ease-in-out;
  transition: height .7s ease-in-out;
}

.row2 .services {
  padding: 50px 0;
  color: #333333;
}

.row2 .services h1 {
  text-align: center;
  font-size: 34px;
  line-height: 51px;
}

.row2 .services article {
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 100%;
}

.row2 .services article aside {
  width: 60%;
  margin: 30px auto;
  padding: 0 60px;
}

.row2 .services article aside h4 {
  margin: 30px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.row2 .services article aside p {
  font-weight: normal;
  font-size: 16px;
  line-height: 140.62%;
}

.row3 {
  padding-top: 30px;
  color: #333333;
}

.row3 h3 {
  text-align: center;
  font-weight: normal;
  font-size: 34px;
  line-height: 51px;
}

.row3 article .carousel {
  position: relative;
}

.row3 article .carousel .control {
  color: #333333;
  top: 35%;
}

.row3 article .carousel__container {
  height: 450px;
  text-align: center;
  padding: 50px 100px;
}

.row3 article .carousel__container__slide {
  width: 49%;
  height: 100%;
  display: inline-block;
}

.row3 article .carousel__container__slide .img_container {
  border: 1px solid #333333;
  width: 300px;
  height: 240px;
  border-radius: 8px;
  display: inline-block;
  padding: 30px;
  margin-bottom: 30px;
}

.row3 article .carousel__container__slide .img_container img {
  width: 180px;
  height: 180px;
}

.row3 article .carousel__container__slide .img_container p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140.62%;
}

.row3 article .carousel__container__slide a {
  margin-bottom: 30px;
  display: inline-block;
  color: #0580b9;
}

.row4 {
  background-color: #0580b9;
  color: #ffffff;
  padding: 80px 30px;
  text-align: center;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.row4 h3 {
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 20px;
}

.row4 .t-control {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.row4 .t-control i {
  margin: 20px 50px;
  font-size: 20px;
  cursor: pointer;
}

.row4 .t-control i:hover {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.row4 .team-carousel {
  position: relative;
  min-height: 200px;
  margin-top: 40px;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 20px;
}

.row4 .team-carousel_slide {
  width: 400px;
  margin-right: 20px;
  border-right: 1px solid white;
}

.row4 .team-carousel_slide img {
  min-width: 250px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 20px;
}

.row4 .team-carousel_slide span {
  display: block;
  width: 100%;
  text-align: center;
}

.row4 .team-carousel_slide span p {
  margin: 30px 0;
  font-size: 14px;
  line-height: 21px;
}

.row4 .team-carousel_slide span p:first-child {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.row4 .team-carousel .t-active {
  left: 0% !important;
  z-index: 2;
}

.row4 ::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

.row4 ::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 5px;
}

.row4 ::-webkit-scrollbar-thumb {
  background: #0580b9;
}

.row4 ::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}

@media screen and (max-width: 450px) {
  .row2 .services article aside {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .control {
    display: none;
  }
  .row1 {
    display: block;
  }
  .row1 .carousel1 {
    position: static;
  }
  .row1 .carousel1_slide {
    display: none;
  }
  .row1 .carousel1 .active {
    display: block;
  }
  .row1 .cta {
    top: 120px;
    left: 0;
    width: 100%;
    border-radius: 0;
  }
  .row1 .cta h3 {
    font-size: 20px;
  }
  .row4 .team-carousel {
    height: 400px;
  }
  .row4 .team-carousel_slide {
    display: block;
  }
  .row4 .team-carousel_slide img {
    width: 95%;
  }
  .row4 .team-carousel_slide span {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .row2 .log_details_container {
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .row2 .log_details {
    margin-top: 0 !important;
  }
  .row2 .services article {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .row2 .services article aside {
    width: 100%;
  }
  .row3 .control {
    display: none;
  }
  .row3 .carousel__container {
    padding: 20px !important;
    height: auto !important;
  }
  .row3 .carousel__container__slide {
    width: 100% !important;
  }
}

@media screen and (max-width: 1300px) {
  .row2 .services article aside {
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */