@import "./fragments/config";
body {
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: white;

  .about {
    background: #0580b9;
    color: white;
    text-align: center;
    text-transform: uppercase;
      font-size: 25px;
    height: 400px;
    background-image: url("../images/banner2.jpg");

    h1{
      background: #0580b9;

    }
  }

  .profile {
    color: #353535;
    padding: 30px;
    h2,
    h3,
    p {
      text-align: center;
      margin: 20px 0 !important;
      font-size: 20px;
      word-break: keep-all;
      width: 100%;
    }
    h2 {
      margin: 10px 0;
      font-size: 25px;
      font-weight: bold;
    }
    h3{
        font-weight: bold;
        font-size: 25px;
    }

    ol {
      padding: 0 30px;
      width: 100%;

      li{
        text-align: center;
        list-style-position: inside;
      }
     
    } .core-values{

        li{
          font-size: 18px;
          font-weight: bold;
        }
      }

    .card {
      background-color: #0580b923;
      padding-bottom: 10px;
      h3{
        background-color:#0580b9;
        color: white;
        padding: 10px;
      }
      p{
        padding-left: 10px;
      }
    }
  }

  .services {
    background: #0580b9;
    text-align: center;
    h1 {
      display: inline-block;
      text-transform: uppercase;
      border-bottom: 2.5px solid #ffffff;
      font-size: 30px;
      padding-bottom: 10px;
      margin-top: 40px;
      color: #ffffff;
    }
    .cen {
      max-width: 1200px;
      margin: auto;
      overflow: hidden;
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .service {
      color: #ffffff;
      display: inline-block;
      margin: 0 -2px;
      padding: 20px;
      box-sizing: border-box;
      cursor: pointer;
      transition: 0.4s;
      text-align: left;

      img {
        width: 120px !important;
        height: 120px !important;
        margin-bottom: 20px;
      }

      .rule {
        width: 100%;
        margin: 0;
      }

      .title {
        width: 20%;
        margin: 0;
        border-color: white;
      }
      p {
        margin: 10px 0;
      }
    }
  }

  .section {
    background: #ededed;
    text-align: center;
    padding: 30px 0;
    h2 {
      padding-top: 20px;
    }
    p {
      font-size: 20px;
    }
    button {
      background-color: #0580b9;
      border: 1px solid #0580b9;
      color: white;
      padding: 10px 20px;
      margin: 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      text-transform: uppercase;
      transition: 0.3s;
      cursor: pointer;
      font-weight: bold;
    }

    button:hover {
      border: 1px solid #353535;
      color: #353535;
      background: white;
      font-weight: bold;
    }

    button:active {
      transform: scale(0.8);
    }
  }
}

@media screen and (max-width: 700px) {
  .content {
    .profile {
      h2,
      h3,
      p {
        text-align: left;
        font-size: 18px;
      }

      ol{
        li{
          text-align: left;
          list-style-position: outside;
        }
      }
    }
    .services {
      .cen {
        display: block;

        .service {
          text-align: center;

          .title {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
