@import "./fragments/config";

.form {
  border: 1px solid $brand_color;
  box-shadow: 1px 1px 3px $brand_color;
  margin: 30px auto;
  min-width: 320px;
  max-width: 600px;
  padding: 20px 20px;

  &-container {
    h1 {
      text-align: center;
      margin: 20px 0 0 0;
      color: $brand_color;
      font-weight: bold;
    }

    .form-group {
      label {
        display: block;
        font-size: 18px;
        margin: 10px 0;
        color: $brand_color;
      }
      input, textarea {
        width: 100%;
        font-size: 18px;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px 10px;
      }
    }

    button{
        display: block;
        margin: 20px auto;
        background-color: $brand_color;
        color: white;
        padding: 10px 30px;
        border: 1px solid $brand_color;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
    }
    button:hover{
        background-color: transparent;
        color: $brand_color;
        box-shadow: 1px 1px 5px $brand_color;
    }
  }
}
