@import "./fragments/config";
header{
    border-bottom: 1px solid black;
}
main {
  // background-color: #0580b913;
  padding: 20px 8%;
  .form_container {
    padding: 50px 10px;
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto;
    border: 1px solid $brand_color;
    box-shadow: 1px 1px 5px $brand_color;
    h3 {
      font-weight: bold;
      font-size: 28px;
      line-height: 54px;
      margin-bottom: 20px;
      text-align: center;
    }

    .form_group label {
      font-weight: bold;
      font-size: 20px;
      line-height: 45px;
      margin-top: 30px;
      display: block;
    }

    .form_group input,
    textarea {
      width: 100%;
      min-width: 200px;
      padding: 2px 50px;
      font-weight: normal;
      font-size: 18px;
      line-height: 36px;
      color: #676767;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #676767;
      outline: none;
    }

    .btn {
      background: #0580b9;
      border: 1px solid #0580b9;
      border-radius: 5px;
      width: 200px;
      height: 50px;
      color: white;
      font-weight: normal;
      font-size: 20px;
      line-height: 36px;
      cursor: pointer;
    }

    #file {
      width: 200px;
      height: 50px;
      display: block;
      font-size: 1em;
      padding: 5px 20px;
      visibility: hidden;
    }
    #attachFile{
        color: white;
        width: 200px;
        border-color: #0580b9;
    }

    .submit {
      background-color: green !important;
    }
    .reset {
      border: none;
      color: white;
      font-size: 20px;
      background-color: red;
      cursor: pointer;
      padding-left: 0;
      margin-top: -50px;
      float: right;
    }
  }
}

@media screen and (max-width: 560px){
  .reset {
    float: none !important;
    margin-top: 30px !important;
  }
}