* {
  margin-top: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.team-image{
    width: 190px;
    height: 190px;
    border-radius: 50%; 
}

.card{
    border: 0;
}

.card-title{
    font-weight: bold;
    font-size: 26px;
    line-height: 140.;
}

#viewMoreButton{
    color:#29419b ;
    background: #cecece;
    border-radius: 0;
    border: 0;
}