* {
  margin-top: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.team-image{
    width: 180px;
    height: 180px;
    border-radius: 50%; 
}

.card{
    border: 0;
}

button{
    color:#2941 ;
    background: #cecece;
}