header {
  background-color: #0580b913;
  padding: 10px 0;
  text-align: center;
  .fa-bars {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      display: inline-block;
    }
    .nav_link a {
        margin-right: 50px;
        margin-bottom: 15px;
    }
    .logo:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 778px) {
  header {
    .fa-bars {
      display: block;
      margin-top: -10px;
      cursor: pointer;
      margin-bottom: 20px;
    }
    nav {
        display: block;
        position: relative;
        padding-top: 100px;
        .nav_link{
            display: none;
          
        }
      a {
          display: block;
          width: 100%;

      }
      a.logo {
        display: block;
        text-align: center;
        cursor: pointer;
        position: absolute;
        top: 20px;
        margin: 0;
        width: 100%;

        img{
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
