.control {
  font-size: 30px;
  position: absolute;
  color: white;
  top: 50%;
  cursor: pointer;
}

.control--left {
  left: 20px;
}

.control--right {
  right: 20px;
}
.row1 {
  // background-image: url("../images/banner.png");
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .carousel1 {
    padding: 0;
    overflow: hidden;

    &_slide {
      width: 100%;
      height: 450px;
      z-index: -1;
      left: 100%;
      position: absolute;
      transition: left 0.5s ease-in-out;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .active {
      left: 0 !important;
      // transition: right 1s ease-in-out;
    }
  }

  .cta {
    background-color: #cecece;
    width: 400px ;
    height: 150px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    position: absolute;
    left: 60px;
    top: 160px;
    z-index: 5;

    h3 {
      font-size: 1.3rem;
      line-height: 36px;
      color: $secondary_text;
      text-align: center;
    }

    button {
      background-color: $brand_color;
      border: none;
      padding: 10px;
      width: 80%;
      margin-top: 20px;
      color: $default_color;
      a {
        color: $default_color;
      }
    }
  }
}
.row2 {
  position: relative;
  background-color: #0580b913;

  .log_details {
    width: 100%;
    margin-top: -100px;

    &_container {
      background-color: $default_color;
      box-shadow: 1px 1px 10px $secondary_text;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      width: 70%;
      margin: 0 auto;
      padding: 50px 0;

      h4 {
        font-size: 48px;
        line-height: 72px;
        color: $brand_color;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        height: 0;
        overflow:hidden;
        transition: height .7s ease-in-out;
      }
    }
  }

  .services {
    padding: 50px 0;
    color: $secondary_text;

    h1 {
      text-align: center;
      font-size: 34px;
      line-height: 51px;
    }

    article {
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      width: 100%;

      aside {
        width: 60%;
        margin: 30px auto;
        padding: 0 60px;
        h4 {
          margin: 30px 0;
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
        }

        p {
          font-weight: normal;
          font-size: 16px;
          line-height: 140.62%;
        }
      }
    }
  }
}

.row3 {
  padding-top: 30px;
  color: $secondary_text;
  h3 {
    text-align: center;
    font-weight: normal;
    font-size: 34px;
    line-height: 51px;
  }
  article {
    .carousel {
      position: relative;
      .control {
        color: $secondary_text;
        top: 35%;
      }
      &__container {
        height: 450px;
        text-align: center;
        padding: 50px 100px;

        &__slide {
          width: 49%;
          height: 100%;
          display: inline-block;

          .img_container {
            border: 1px solid $secondary_text;
            width: 300px;
            height: 240px;
            border-radius: 8px;
            display: inline-block;
            padding: 30px;
            margin-bottom: 30px;

            img {
              width: 180px;
              height: 180px;
            }
            p {
              font-weight: 500;
              font-size: 14px;
              line-height: 140.62%;
            }
          }
          a {
            margin-bottom: 30px;
            display: inline-block;
            color: $brand_color;
          }
        }
      }
    }
  }
}

.row4 {
  background-color: $brand_color;
  color: $default_color;
  padding: 80px 30px;
  text-align: center;

  h3 {
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 20px;
  }
  .t-control {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    i {
      margin: 20px 50px;
      font-size: 20px;
      cursor: pointer;
    }
    i:hover{
      transform: scale(.7);
    }
  }
  .team-carousel {
    position: relative;
    min-height: 200px;
    margin-top: 40px;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    &_slide {
      width: 400px;
      margin-right: 20px;
      border-right: 1px solid white;
      img {
        min-width: 250px;
        height: 200px;
        object-fit: cover;  
        padding-right: 20px;    

      }
      span {
        display: block;
        width: 100%;
        text-align: center;
        p {
          margin: 30px 0;
          font-size: 14px;
          line-height: 21px;
        }
        p:first-child{
          font-weight: bold;
          font-size: 22px;
          line-height: 30px;
        }
      }
    }


    .t-active {
      left: 0% !important;
      z-index: 2;
    }
  }
  ::-webkit-scrollbar {
    width: 1px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    width: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $brand_color; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkblue; 
    
  }
}

@media screen and (max-width: 450px) {
  .row2 {
    .services {
      article {
        aside {
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .control {
    display: none;
  }
  .row1 {
    display: block;

    .carousel1 {
      position: static;

      &_slide {
        display: none;
      }
      .active {
        display: block;
      }
    }

    .cta {
      top: 120px;
      left: 0;
      width: 100%;
      border-radius: 0;

      h3 {
        font-size: 20px;
      }
    }
  }

  .row4 {
    .team-carousel {
      height: 400px;
      &_slide{
        display: block;
        img{
          width: 95%;
        }
        span{
         width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .row2 {
    .log_details {
      &_container {
        width: 100%;
        grid-template-columns: 1fr;
        row-gap: 50px;
      }
    }
    .log_details {
      margin-top: 0 !important;
    }
    .services {
      article {
        grid-template-columns: 1fr;

        aside {
          width: 100%;
        }
      }
    }
  }

  .row3 {
    .control {
      display: none;
    }
    .carousel {
      &__container {
        padding: 20px !important;
        height: auto !important;
        &__slide {
          width: 100% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .row2 {
    .services {
      article {
        aside {
          width: 90%;
        }
      }
    }
  }
}
