header {
  background-color: white;
  padding: 10px 0;
  text-align: center;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
    }
    .nav_link a {
        margin-right: 40px;
    }
  }
}

@media screen and (max-width: 560px) {
  header {
    nav {
        display: block;
        position: relative;
        padding-top: 150px;
        .nav_link{
            display: none;
          
        }
      a {
          display: block;
          width: 100%;

      }
      a.logo {
        display: block;
        text-align: center;
        cursor: pointer;
        position: absolute;
        top: 20px;
        margin: 0;
        width: 100%;
      }
    }
  }
}
